{% extends 'base.html'%}

{% block content %}


<h2>{{user.name_first}} {{user.name_last}} Deeds</h2>

<p>Daily Goal: {{user.goal_daily}}</p>
<p>Daily Total: {{daily_total}}</p>
<p>most occouring actiong type:</p>
<p>least occouring action type:{{lcat}}</p>

<form action="/admin/deeds/user/view/{{user.id}}" method="post">

  <label for="deed_user_date">View Date:</label><br>
  <input type="text" id="deed_user_date" name="deed_user_date" value="??-??-????" required> <br>

  <input type="submit" value="Submit">
</form>

<table>
    <tr>
      <th>Deed ID</th>
      <th>User</th>
      <th>Action</th>
      <th>Value</th>
      <th>Date</th>
      <th>Running Total</th>
    </tr>
    
    


{% for deed in all_deeds  %}


<tr>
    <td>{{deed.id}}</a></td>
    <td>{{deed.user.name_first}} {{deed.user.name_last}}</a></td>
    <td>{{deed.action.name}}</td>
    <td>{{deed.action.value}}</td>
    <td>{{deed.date}}</td>
    <td></td>
</tr>
{% endfor %}
</table>

{% endblock %}



<!-- SELECT users.*, actions.*, deeds.* 
FROM users INNER JOIN deeds 
ON users.id = deeds.user_id
FROM actions INNER JOIN deeds
ON actions.id = deeds.user_id -->




