{% extends 'base.html'%}

{% block content %}


<!-- <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style> -->



<h2>Add Deed</h2>
<form action="/admin/deeds/new" method="post">
    <label for="deed_user">User:</label><br>
    <input type="text" id="deed_user" name="deed_user" value="?" required autofocus> <br>
  
    <label for="deed_action">Action:</label><br>
    <input type="text" id="deed_action" name="deed_action" value="?" required> <br>

    <label for="deed_date">Date:</label><br>
    <input type="text" id="deed_date" name="deed_date" value="?" required> <br>
  
    <input type="submit" value="Submit">
</form>

<h2>Deeds</h2>
<table>
    <tr>
      <th>Deed ID</th>
      <th>User</th>
      <th>Action</th>
      <th>Value</th>
      <th>Date</th>
    </tr>

{% for deed in all_deeds  %}

<tr>
    <td><a href="/admin/deeds/edit/{{deed.id}}">{{deed.id}}</a></td>
    <td><a href="/admin/deeds/user/{{deed.user.id}}">{{deed.user.name_first}} {{deed.user.name_last}}</a></td>
    <td>{{deed.action.name}}</td>
    <td>{{deed.action.value}}</td>
    <td>{{deed.date}}</td>
</tr>

{% endfor %}
</table>

{% endblock %}




