{% extends 'base.html'%}

{% block content %}

<h2>Add Deed</h2>
<form action="/admin/deeds/new" method="post">
    <label for="deed_user">User:</label><br>
    <input type="text" id="deed_user" name="deed_user" value="?" required autofocus> <br>
  
    <label for="deed_action">Action:</label><br>
    <input type="text" id="deed_action" name="deed_action" value="?" required> <br>

    <label for="deed_date">Date:</label><br>
    <input type="text" id="action_type" name="action_type" value="?" required> <br>
  
    <label for="action_value">Action Value:</label><br>
    <input type="number" id="action_value" name="action_value" value="100" required>
   
    <input type="submit" value="Submit">
</form>

<h2>Deeds</h2>

{% for deed in all_deeds  %}
<div>
    <p>ID: {{deed.id}} User: {{deed.user.name_first}}  Action: {{deed.action.name}}  Date: {{deed.date}}  </p>
    <a href='/admin/actions/edit/{{deed.id}}'>
        <button onclick="document.location='default.asp'">Edit</button>
    </a>
    <form action="/admin/actions/delete/{{deed.id}}" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
    </form>
</div>
{% endfor %}


{% endblock %}