<!DOCTYPE html>
<html>
<head>
  <title>Karma Clan</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karma&display=swap" rel="stylesheet">
  
  <script src="https://kit.fontawesome.com/2f11345221.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

</head>
<body>
<main>
  <nav class="navbar">
    <ul>
      <li>
        <a href="/"><i class="fas fa-home"></i>Home</a>
      </li>
      <li>
        <a href="/users"><i class="fas fa-user"></i>Users</a>
      </li>
      <li>
        <a href="/admin"><i class="fas fa-user-shield"></i>Admin</a>
      </li>
    </ul>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>