{% extends 'base.html'%}

{% block content %}
<div class="home">
<h1>Karma Clan</h1>


<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus nulla sed massa pulvinar, eu laoreet dui faucibus. Aliquam vestibulum facilisis justo, quis dignissim nisi ullamcorper id. Maecenas orci quam, venenatis at mollis eu, dignissim in nulla. Sed hendrerit ex et diam lobortis, eu pretium augue luctus. Curabitur sodales turpis dui, id aliquet elit sodales eget. Aliquam sodales semper neque malesuada imperdiet. Sed est eros, dapibus et pellentesque pharetra, rhoncus cursus massa.

    Nunc id ultrices augue, ut dapibus tellus. Phasellus ante tellus, dignissim id tempus quis, vehicula eu odio. Quisque vestibulum, ante quis fermentum vehicula, tellus dui bibendum massa, a egestas arcu felis quis lacus. Nunc rutrum lorem eget mauris pretium convallis. Ut vel lacinia tortor. Quisque ultricies scelerisque lacinia. Aenean imperdiet, lorem nec dignissim vulputate, metus dui efficitur lectus, id pharetra tortor elit at tortor. Suspendisse sapien magna, scelerisque nec eros at, viverra tristique nunc. Donec a tincidunt neque, vitae porta neque. Ut diam ipsum, hendrerit quis varius a, malesuada eget libero. Sed cursus est at odio placerat, eu gravida risus rhoncus. Morbi leo lectus, viverra vitae neque quis, fringilla consectetur mi.</p>

<h2>How to use</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus nulla sed massa pulvinar, eu laoreet dui faucibus. Aliquam vestibulum facilisis justo, quis dignissim nisi ullamcorper id. Maecenas orci quam, venenatis at mollis eu, dignissim in nulla. Sed hendrerit ex et diam lobortis, eu pretium augue luctus. Curabitur sodales turpis dui, id aliquet elit sodales eget. Aliquam sodales semper neque malesuada imperdiet. Sed est eros, dapibus et pellentesque pharetra, rhoncus cursus massa.

    Nunc id ultrices augue, ut dapibus tellus. Phasellus ante tellus, dignissim id tempus quis, vehicula eu odio. Quisque vestibulum, ante quis fermentum vehicula, tellus dui bibendum massa, a egestas arcu felis quis lacus. Nunc rutrum lorem eget mauris pretium convallis. Ut vel lacinia tortor. Quisque ultricies scelerisque lacinia. Aenean imperdiet, lorem nec dignissim vulputate, metus dui efficitur lectus, id pharetra tortor elit at tortor. Suspendisse sapien magna, scelerisque nec eros at, viverra tristique nunc. Donec a tincidunt neque, vitae porta neque. Ut diam ipsum, hendrerit quis varius a, malesuada eget libero. Sed cursus est at odio placerat, eu gravida risus rhoncus. Morbi leo lectus, viverra vitae neque quis, fringilla consectetur mi.</p>
</div>
{% endblock %}