{% extends 'base.html'%}

{% block content %}

<h2>Add New Action</h2>
<form action="/admin/actions/new" method="post">
    <label for="action_name">Action Name:</label><br>
    <input type="text" id="action_name" name="action_name" value="?" required autofocus> <br>
  
    <label for="action_description">Action Description:</label><br>
    <input type="text" id="action_description" name="action_description" value="?" required> <br>

    <label for="action_type">Action Type:</label><br>
    <input type="text" id="action_type" name="action_type" value="?" required> <br>
  
    <label for="action_value">Action Value:</label><br>
    <input type="number" id="action_value" name="action_value" value="100" required>
   
    <input type="submit" value="Submit">
</form>

<h2>Actions</h2>

{% for action in all_actions  %}
<div>
    <p>ID: {{action.id}}  Name: {{action.name}} Description: {{action.description}} Points value: {{action.value}}  </p>
    <a href='/admin/actiona/edit/{{action.id}}'>
        <button onclick="document.location='default.asp'">Edit User</button>
    </a>
    <form action="/admin/actions/delete/{{action.id}}" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
    </form>


</div>
{% endfor %}


{% endblock %}